#sobre-jogo {
    display: flex;
    background-image: url(../imgs/EstruturaDeJogo-banner\(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.box-sobre-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
}

.lineup-sobre-jogo {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.comece-jogar {
    background-image: url(../imgs/comece-jogar.png);
    background-repeat: no-repeat;
    height: 35rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.comece-jogar h2{
    color: #fff;
    font-size: 3rem;
}

.comece-jogar p {
    font-size: 1.3rem;
    color: #808080;
    width: 80%;
    text-align: start;
}

.comece-jogar button {
    background: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 2px #fff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.9s;
}

.comece-jogar button:hover {
    font-size: 1.5rem;
    background-position: left bottom;
}

.sobre-jogo-descrição {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
}

.box-text-sobre-jogo-descrição {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-right: 3%;
}

.box-text-sobre-jogo-descrição h2 {
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: bold;
}

.box-text-sobre-jogo-descrição h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.box-text-sobre-jogo-descrição p{
    text-align: end;
    font-size: 1.2rem;
    width: 40vh;
}

.linha-separador {
    width: 100%;
}

.linha-separador::after {
    content: '';
    display: block;
    width: 80%;
    height: 5px;
    background-color: black;
    margin: 0 auto;
    margin-top: 10%;
}

.linedown-sobre-jogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar1 {
    width: 50%;
    position: relative;
    bottom: -6%;
}

.avatar1 img {
    width: 100%;
}

.avatar2 {
    width: 25%;
    position: relative;
    right: 10%;
    bottom: -10%;
}

.avatar2 img {
    width: 100%;
}

.estrutura-jogo {
    display: flex;
    flex-direction: column;
    text-align: end;
    position: relative;
    right: 15%;
}


.estrutura-jogo h2 {
    font-size: 3rem;
    font-size: clamp(1.2rem, 5vw, 4rem);
}

.jogo-texto {
    font-weight: 900;
    font-size: clamp(1.2rem, 5vw, 4rem);
}

ul {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

ul li {
    list-style: none;
    font-size: clamp(0.5rem, 2.5vw, 2rem);
    width: 100%;
    transition: 0.4s;
    padding: 2%;
    cursor: pointer;
}


li:hover {
    background-color: red;
    color: #fff;
}

@media screen and (max-width:1500px) {
    .lineup-sobre-jogo {
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
    }
}

@media screen and (max-width:935px) {

    #sobre-jogo {
        background-size: 45vh;
    }

    .sobre-jogo-descrição {
        flex-direction: column-reverse;
    }

    .linha-separador::after {
        margin-bottom: 3%;
    }
}

@media screen and (max-width:485px) {

    #sobre-jogo {
        background-size: 25vh;
    }

    .comece-jogar {
        width: 13rem;
        height: 20rem;
    }

    .comece-jogar h2 {
        font-size: 2rem;
    }

    .comece-jogar p {
        font-size: 0.9rem;
    }

    .comece-jogar button {
        width: 9rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .img-sobre-jogo {
        width: 13rem;
    }

    .box-text-sobre-jogo-descrição p {
        width: 30vh;
        font-size: 0.9rem;
    }

}